
#hero1{

    #background-img{
        background-image: url(img/hero1/hero1.jpg);
        background-repeat: no-repeat;
        width: 100%;
    }

    padding-bottom: 10%;
    
    #hero1-content{

        #locations-dropdown{

            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: "location . . ";
            grid-area: "location";
    
            .location{
    
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-areas: "p img";

                color: #fff;
                border-radius: 16px;
                border-style: solid;
                padding-left: 16px;
                margin: 16px;
    
                .p{
                    grid-area: "p";
                }
    
                .img{
                    grid-area: "img";
                }
    
            }
        }

        .title{

            display: grid;
            grid-template-columns: 20% 1fr 20%;
            grid-template-areas: " . title . ";

            color: #fff;
            margin-top: 20%;
            margin-left: 16px;
            font-size: 48pt;
    
            .p{
                grid-area: "title";
            }
        }
    
        .search-bar{
    
            .search{

                display: grid;
                grid-template-columns: 1fr 20% 10%;
                grid-template-areas: "p . img";

                color: #fff;
                border-style: solid;
                border-radius: 16px;
                margin: 40px;
                margin-bottom: 40px;
                padding-left: 16px;
    
                .p{
                    grid-area: "p";
                }
    
                .img{
                    grid-area: "img";
                }
            }
        }

    }
}